
body{
    font-family: 'Muli', 'Arial';
    padding-top: 54px;
    color:#868e96;

}

.img-profile {
    max-width: 240px;
    border-radius: 50%;
    border: 0.5rem solid #BAB2B5;
  }

.social-icons a {
    display: inline-block;
    height: 3.5rem;
    width: 3.5rem;
    background-color: #495057;
    color: #fff;
    border-radius: 100%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3.5rem;
    margin-right: 1rem;
}
  
.social-icons a:last-child {
    margin-right: 0;
}
  
.social-icons a:hover {
    background-color: #EEE2DC;
}
  
a {
    color: #BD5D38;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  color: #123C69;
}

h1 {
  font-size: 6rem;
  line-height: 5.5rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2rem;
}

section.resume-section {
    padding-top: 5rem;
    padding-bottom: 5rem;
    max-width: 75rem;
}

section.resume-section .resume-date {
    min-width: none;
}

.subheading {
    text-transform: uppercase;
    font-weight: 500;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1.5rem;
}

.text-primary {
    color: #123C69;
}







.img-centered {
  margin: 0 auto;
}

header {
  text-align: center;
  color: #fff;
  background: #{{ site.color.primary }};
}

header img.profile {
  max-width: 240px;
  border-radius: 50%;
  border: 0.4em solid rgba(255, 255, 255, 0.75);
}

header .intro-text .name {
  font-size: 2.25em;
}

header .container {
  padding-top: 80px;
  padding-bottom: 15px;
}

header img {
  display: block;
  margin: 0 auto 20px;
}

header .intro-text .name {
  display: block;
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 2.2em;
  font-weight: 700;
}

header .intro-text .skills {
  font-size: 1.25em;
  font-weight: 300;
}
